<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-bank</p>
			<span class='iconbox-item icon icon-size-md icon-bank'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-key-hole</p>
			<span class='iconbox-item icon icon-size-md icon-key-hole'></span>
		</div>
	</div>

</div>