<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-bar-chart</p>
			<span class='icon icon-size-md icon-bar-chart'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-invest</p>
			<span class='icon icon-size-md icon-invest'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-pie-chart</p>
			<span class='icon icon-size-md icon-pie-chart'></span>
		</div>
	</div>

</div>