{% comment %}
	This snippet prints the footer

	Usage:
		{% include footer.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<div class="footer js-footer">
	<span class="footer-social">
		<span>Talk to us</span>
		<a class="sitesymbol-email" href="mailto:pclancy@westpac.com.au" target="_blank">Email us</a>
		<a class="sitesymbol-yammer" href="https://www.yammer.com/westpac.com.au" target="_blank">Yammer us</a>
		<a class="sitesymbol-slack" href="https://westpac-digital.slack.com" target="_blank">Slack us</a>
	</span>

	<a class="footer-topbutton js-scrollTo" href="#top">Top</a>
</div>

{% include footer-code.liquid %}