{% comment %}
	This snippet prints the footer

	Usage:
		{% include footer.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


	<footer class="footer">
		footer
	</footer>

	{% include footer-code.liquid %}

</body>
</html>