{% comment %}
	This snippet prints the footer

	Usage:
		{% include footer.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<footer class="footer js-footer">
	<span class="footer-social">
		<span class="footer-social-text hidden-xs">Talk to us</span>
		<a class="footer-social-item icon icon-size-md icon-email" href="mailto:gel@westpac.com.au" data-grunticon-embed>Email us</a>
		{% comment %}<a class="footer-social-item sitesymbol-yammer" href="https://www.yammer.com/westpac.com.au" target="_blank" data-grunticon-embed>Yammer us</a>{% endcomment %}
		<a class="footer-social-item sitesymbol-slack" href="https://westpac-digital.slack.com" target="_blank" data-grunticon-embed>Slack us</a>
		<a class="footer-social-item icon icon-size-md icon-github" href="https://github.com/WestpacCXTeam/" target="_blank" data-grunticon-embed>GitHub</a>
	</span>

	<a class="btn btn-link footer-button js-scrollToTop" href="{{ page.url | slice: 5,9999999 }}#top">Top</a>
</footer>

{% include footer-code.liquid %}