{% comment %}
	This snippet prints the header HTML

	Usage:
		{% include gridly.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<div class="gridly">
	<div class="row">
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
		<div class="col-xs-1"><div class="gridy-block"></div></div>
	</div>
</div>