{% comment %}
	This snippet prints the header HTML

	Usage:
		{% include header.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<!DOCTYPE html>
<!--[if lt IE 8]>
	<html class="no-js lt-ie8 lt-ie9" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js lt-ie9 ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
	<html class="no-js ie9" lang="en">
<![endif]-->
<!--[if !(IE)]><!-->
	<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	{% include base.liquid  brand = page.brand %}

	<title>{{ page.title }}</title>

	{% include header-code.liquid %}

</head>
<body class="js-body layout-{{ page.layout | handleize }} page-{{ page.title | handleize }}">
	<noscript>
		<p role="alert">This website needs Javascript to work properly.</p>
	</noscript>

	{% include IEwarning.liquid %}

	<header>
		{% include navigation.liquid  brand = page.brand %}

		<a href="blender/">click here for blender</a>
	</header>