{% comment %}
	This snippet prints the header HTML

	Usage:
		{% include header.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<header class="header">

	<button class="header-hamburger js-toggleMenu">
		<span class="cheese">Click</span>
		<span class="patty">to</span>
		<span class="salad">Open Menu</span>
	</button>

	<h1 class="header-headline js-headerHeadline">{{ page.title }}</h1>

	<div class="gridly-button-wrapper">
		<span class="visible-lg-inline">lg</span>
		<span class="visible-md-inline">md</span>
		<span class="visible-sm-inline">sm</span>
		<span class="visible-xs-inline">xs</span>
		<span class="hidden-xs">breakpoint</span>

		<button class="gridly-button js-gridly">
			<span class="gridly-show">Show</span>
			<span class="gridly-hide">or hide</span>
			<span>the grid</span>
		</button>
	</div>

	<div class="blenderline">
		<span class="blenderline-logo sitesymbol-gui-blender">GUI Blender</span>
		<span class="blenderline-item blenderline-item-count js-blender-count">0</span>

		{% for version in site.data.GUI.modules._fixed._base.versions %}
			{% assign baseVersion = version[0] %}
			{% assign baseSize = version[1].size %}
		{% endfor %}

		<span class="blenderline-item-right">
			Your blend is: &asymp;

			<strong>
				<span class="blenderline-item blenderline-item-size js-blender-size"
					data-base-version="{{ baseVersion }}" data-base-size="{{ baseSize }}">{{ baseSize }}</span>kb
			</strong>
		</span>
	</div>
</header>