{% comment %}
	This snippet prints an conditional IE error for older browsers

	Usage:
		{% include IEwarning.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<!--[if lt IE 9]>
<table style="position:fixed;z-index:200;height:100%;width:100%;background:white;text-align:center;">
<tr><td style="vertical-align:middle;">
<h1 style="color:#000;">
	<span class="icon icon-size-lg icon-face-sad"></span><br><br>
	This site has not been optimised for older IE.<br><br>
	<small>Sorry for any inconvenience</small>
</h1>
</td></tr>
</table>
<![endif]-->