{% comment %}
	This snippet prints the index pages content

	Usage:
		{% include showIndex.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="row">
			<div class="col-sm-8 col-md-10">
				<h2 class="content-headline">What&rsquo;s your Blend?</h2>
				<p class="lead">
					Choose the elements you need and leave the ones you don&rsquo;t.
				</p>
			</div>

			<div class="col-sm-4 col-md-10">
				<div class="row">
					<div class="col-md-10 col-sm-offset-1 col-md-offset-0">
						<a class="btn btn-primary btn-block btn-soft btn-xl index-blenderbutton hidden-xs" href="blender/">Go to the Blender</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-8">
		<div class="index-blender-svg">
			<span class="sitesymbol-blender" data-grunticon-embed>The Blender</span>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-8 col-sm-offset-4">
		<p class="lead index-lead">
			The GUI is a front-end development framework designed for multi-brand, accessible, responsive, mobile first projects. It provides HTML, CSS, LESS and
			JavaScript to describe how all of the core interface elements should look and behave. The GUI can also be used as a point of reference for UX and UI
			designers. We&rsquo;re continually refining and optimising the GUI, adding elements and components as the UI evolves.
		</p>
		<p class="lead index-counter is-hidden">
			So far the blender has been used <strong class="js-counter index-counter-num">0</strong> times.
		</p>
	</div>
</div>


{% comment %}<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-h">What’s new in version 2</h3>

		<div class="row">
			<div class="col-sm-10">
				In this release we’ve re-built the GUI from the ground up. After much deliberation and collaboration with internal tech teams we decided to move
				away from Bootstrap and create leaner, more semantic and modular code that’s tailored to our needs. Kudos to the awesome Bootstrap framework for
				getting us this far.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<ul class="lists lists-neutral">
				<li>
					We&rsquo;ve simplified the GUI navigation structure making it easier to find the elements you need. We&rsquo;ve also added more intent around the
					use of each element.
				</li>
				<li>
					We&rsquo;ve re-built all the components for better accessibility, more semantic code, built in print stylesheets and a dynamic versioning system.
				</li>
				<li>
					To minimise code we&rsquo;ve added a new feature called the Blender. Now you can choose the elements you need and leave the ones you don&rsquo;t.
					Elements are grouped into self contained modules. This allows us to version each module rather than the entire GUI making it much easier to update
					your project. You can always access earlier versions.
				</li>
				<li>
					As well as providing the HTML markup for each element in the GUI you now also get CSS, LESS and JavaScript files with your GUI download.
				</li>
				<li>
					We&rsquo;ve added some new elements and classes like tabcordions which are responsive tab sets that change into accordions when viewed on small
					devices.
				</li>
				<li>
					We&rsquo;ve been through more rounds of rigorous accessibility testing to ensure every element is AA compliant both code and visual.
				</li>
				<li>
					We&rsquo;ve removed the icon font and replaced it with an SVG solution which is more optimised, semantic and accessible.
				</li>
				<li>
					Also, to encourage collaboration the GUI is now open source.
				</li>
			</ul>

			<p>
				Thanks to everyone for your help and support, we hope you like it. Please let us know if you have any feedback.
			</p>
		</div>
	</div>
</article>{% endcomment %}


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-h">Stay up-to-date</h3>

		<div class="row">
			<div class="col-sm-10">
				We&rsquo;ll send out a small announcement email everytime we publish a new version or a new module to outline what has changed.
				That way you are able to make an educated assessment about the impact to your project.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<form action="//westpac.us11.list-manage.com/subscribe/post?u=d3cf7e940bf311ace99e397b7&amp;id=c78955f1b4" method="post"
				id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

				<ul class="row index-signup">
					<li class="col-sm-6 index-signup-item">
						<label class="index-signup-label">
							First name:
							<input type="text" class="input-field" name="FNAME" id="mce-FNAME">
						</label>
					</li>
					<li class="col-sm-6 index-signup-item">
						<label class="index-signup-label">
							Last name:
							<input type="text" class="input-field" name="LNAME" id="mce-LNAME">
						</label>
					</li>
					<li class="col-sm-12 index-signup-item">
						<label class="index-signup-label">
							Email:
							<input type="text" class="input-field" name="EMAIL" id="mce-EMAIL">
						</label>
					</li>
					<li class="col-sm-12 index-signup-item">
						<div style="position: absolute; left: -5000px;"><input type="text" name="b_d3cf7e940bf311ace99e397b7_c78955f1b4" tabindex="-1" value=""></div>
						<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-h">GUI mail archive</h3>

		<div class="row">
			<div class="col-sm-10">
				Read all our GUI emails we've sent out so far and be ready for a chuckle.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<ul class="lists lists-linklist">
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=cceb309c96" target="_blank">#016 What’s new Sep 21st 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=e1081d3908" target="_blank">#015 What’s new Aug 23rd 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=ae20ea08ea" target="_blank">#014 What’s new Jun 10th 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=8ad9dddbce" target="_blank">#013 What’s new Apr 21st 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=542a6395e0" target="_blank">#012 What’s new Mar 9th 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=7741e9cd7c" target="_blank">#011 What’s new Feb 24th 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=a5141246ca" target="_blank">#010 What’s new Feb 10th 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=ed2b5dae5d" target="_blank">#009 What’s new Feb 3rd 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=caa3d4fae5" target="_blank">#008 What’s new Jan 20th 2016</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=530c6b0e05" target="_blank">#007 What’s new Dec 17th 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=13ef1556e9" target="_blank">#006 What’s new Dec 1st 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=e05f22d038" target="_blank">#005 What’s new Nov 16th 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=76d4c3a886" target="_blank">#004 What’s new Nov 2nd 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive2.com/?u=d3cf7e940bf311ace99e397b7&amp;id=7561b9b83b" target="_blank">#003 What’s new Oct 27th 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=dc78a05552" target="_blank">#002 What’s new Oct 6th 2015</a>
				</li>
				<li>
					<a href="http://us11.campaign-archive1.com/?u=d3cf7e940bf311ace99e397b7&amp;id=5d78c39809" target="_blank">#001 What’s new Sep 21st 2015</a>
				</li>
			</ul>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-h">GUI documentation</h3>

		<div class="row">
			<div class="col-sm-10">
				Useful articles for first time GUI users, including a downloadable front-end developer starter pack containing more detailed documentation.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<h4 class="content-subline is-first">The Blender</h4>
			<p>
				How to use The Blender to keep your project as lean as possible while maintaining upgradability.
				<a href="getting-started/blender">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Installing the framework</h4>
			<p>
				How to install the framework into your project and what to look out for.
				<a href="getting-started/installing">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Using the JavaScript framework</h4>
			<p>
				What are and how can you use the built-in JavaScript methods or extend the core framework.
				<a href="getting-started/javascript">Read more</a>
			</p>
		</div>

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Accessibility</h4>
			<p>
				TODO.
				<a href="getting-started/accessibility">Read more</a>
			</p>
		</div>{% endcomment %}

		<div class="index-block">
			<h4 class="content-subline">Core modules</h4>
			<p>
				Certain core modules are pre-selected, each including in-built 'helpers'.
				<a href="getting-started/core-modules">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Icon system</h4>
			<p>
				The icon system comes with some awesome tips and tricks.
				<a href="getting-started/icon-system">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Collaboration</h4>
			<p>
				Find out how your team can help make the GUI even better.
				<a href="getting-started/collaboration">Read more</a>
			</p>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-h">Frequently asked questions</h3>

		<div class="row">
			<div class="col-sm-10">
				If you have any questions about getting started using the GUI, want to know the best way to approach your project utilising GEL, or want to share
				some ideas, please get in contact with the GEL team via <a href="mailto:gel@westpac.com.au">gel@westpac.com.au</a>. If you have a Slack account, join
				the conversation at <a href="https://westpac-digital.slack.com/messages/gui-2_0_0/" target="_blank">https://westpac-digital.slack.com</a>.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<strong>Do we have to use the GUI source code?</strong>
		<p>
			No, you do not have to use the GUI source code. You can build from scratch using wireframes and visual designs if you prefer, but your
			final output must match the look and functionality of the GUI from a front-end perspective.
		</p>


		<strong class="top-margin5-xs">Which browsers does the GUI support?</strong>
		<p>
			Our current browser support philosophy recommends one version forward and two versions back with the exception of IE8 and up.
		</p>
		<p>
			The GUI uses progressive enhancement, therefore older browsers may not optimally render the interface elements. If using an older browser,
			you must ensure that your interface elements meet the following requirements:
		</p>
		<ul class="lists">
			<li>Enable the user to complete a task</li>
			<li>Meet standard usability guidelines</li>
			<li>
				Comply to WCAG2 AA accessibility guidelines
				<p>This philosophy is based on the following factors:</p>
				<ul class="lists">
					<li>
						The ROI of tweaking elements for older browsers (with declining usage rates) for small enhancements which do not directly enhance
						the customer experience or task completion rate e.g. rounded corners.
					</li>
					<li>Simplifying code by minimising styling with anything other than CSS</li>
					<li>Less dependency on visual designers to provide graphic assets and support</li>
					<li>More efficient workflow when building interfaces intended for multi-brand</li>
					<li>Future proofing graphic quality for high definition screens</li>
				</ul>
			</li>
		</ul>
		<p>
			Interface rendering concerns in older browsers can be raised with CX but ultimately the AFS Digital Brand Director will decide whether the brand
			presentation is acceptable or if an alternative needs to be explored.
		</p>


		<strong class="top-margin5-xs">Who is responsible for bug fixing and testing?</strong>
		<p>
			You are responsible for testing and bug fixes when you download an instance of the GUI and use it in your project. Please
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/" target="_blank">let us know</a> if you notice any bugs in the
			GUI and we&rsquo;ll fix it up.
			Even better... send in a <a href="https://github.com/WestpacCXTeam/GUI-source/" target="_blank">pull request</a>. We&rsquo;d be very grateful.
		</p>


		<strong class="top-margin5-xs">If we use the GUI do we still need UX and UI designers?</strong>
		<p>
			Yes. Every project should have a UX designer and a UI designer, no matter how small. This practice will ensure that the interaction design and
			interface designs are consistent.
		</p>


		<strong class="top-margin5-xs">Can I change LESS files, css or JavaScript?</strong>
		<p>
			We do not recommend changing the files. To alter or add styles in your project please use an override css file and concatenate it at the bottom.
			This will ensure that you stay upgradeable in case we fix things and create a new version of a module.
		</p>


		<strong class="top-margin5-xs">Can we use our own JavaScript library?</strong>
		<p>
			Yes you can use your own JavaScript library, however you are responsible for the implementation. The GUI currently comes with jQuery but we will
			try to move to vanilla JS in future to provide even more flexibility.
		</p>


		<strong class="top-margin5-xs">Is the GUI accessible?</strong>
		<p>
			Yes as of version 1.0.0. the GUI complies to AA accessibility standards. We have been through a formal accessibility review to meet this
			requirement.
		</p>


		<strong class="top-margin5-xs">How are modules affected by new releases?</strong>
		<p>
			Each module is affected differently by each release. But don't worry if you don't have the resources to upgrade, as we'll always keep the
			past versions online. This ensures that when a fix is issued or an improvement is made to a module, only teams that are using that particular
			module are affected.
		</p>


		<strong class="top-margin5-xs">Do we have to use the updated release?</strong>
		<p>
			No, you do not have to use the updated release. The Blender is specifically built to cater for every version, meaning that you can continue to
			use your preferred version. However, we encourage you to assess the effort required to upgrade, as it may only be minimal but could enable you
			to leverage the community fixes and testing.
		</p>


		<strong class="top-margin5-xs">Which frameworks are used to create the GUI?</strong>
		<p>
			As of version 2.0.0 we have rebuilt the GUI from scratch. It is a complete custom build for your environment and enables us to be more flexible in
			its development. We tried to keep the classes and naming convention as close to Bootstrap 3.x as possible.
		</p>


		<strong class="top-margin5-xs">Do I have to use version 2.0.0?</strong>
		<p>
			With improved versioning in the release, projects who are using a version of the GUI 1.x will continue to be able to use and implement their
			corresponding version. Each project should review the GUI 2.0.0 and assess the value, effort and impact of updating their projects before
			proceeding with the upgrade.
		</p>


		<strong class="top-margin5-xs">How do I use the GUI in my SPA project?</strong>
		<p>
			There are some additional considerations you have to do before jumping in with your project depending on the framework you use. We got some great
			resources <a href="https://github.com/WestpacCXTeam/GUI-source/issues/137" target="_blank">about Angular</a> and
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/144" target="_blank">icons in dynamic DOM</a>. If you have something you want to share
			let us know on <a href="https://github.com/WestpacCXTeam/GUI-source/issues" target="_blank">GitHub</a>.
		</p>


		<strong class="top-margin5-xs">How can you center the logos in a multi-brand environment?</strong>
		<p>
			The logos are all on the same size canvas to enable us to quickly switch the brand and not having to worry about the size of the different logos
			in each brand. This of course only works when you have your logo left aligned.
			In case your design requires you to center your logo you will have to account for the different sizes and that could be a bit frustrating to get
			your head around. That's why we made a test page that helps you getting started:

			<p><a href="http://codepen.io/dominikwilkowski/pen/rOKXrN" target="_blank">Check out this CodePen</a></p>

			This is why LESS and any preprocessor is great. You can add some smarts to your CSS.
			Here we have a env-var on the top of our LESS to represent the brand. We then check on that variable and adjust the size of the logo in the
			centered div.

			If you have any questions or additions to this issue, come over and talk to us here on
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/147" target="_blank">GitHub</a>.
		</p>


		<strong class="top-margin5-xs">How do I change the colour of my icon?</strong>
		<p>
			You will have to embedd the icons to change the colour. Once embedded you can use the <code class="classes">icons-background</code> class to
			change the fill eg: <code class="classes">.icons-background { fill: rebeccapurple; }</code>.
			Read more <a href="https://github.com/WestpacCXTeam/GUI-source/issues/135" target="_blank">about icon colours</a>.
		</p>


		<strong class="top-margin5-xs">What if I have a document in a non-latin language?</strong>
		<p>
			Some characters may not display correctly when using non-latin languages like Vietnamese or Hebrew. In those cases you should overwrite the
			font-family and edit out the roboto webfont we are still shipping. Just have a look at
			<a href="https://github.com/WestpacCXTeam/GUI-source/tree/master/_fonts" target="_blank">_fonts code-module</a> and see what the current brand-font
			and body-font is. Read more <a href="https://github.com/WestpacCXTeam/GUI-source/issues/146" target="_blank">about non-latin languages</a>.
		</p>


		<strong class="top-margin5-xs">How can I get the unminified version of Javascript?</strong>
		<p>
			Although the blender is built to be easy to use, some features can drown in the noise. We got asked a couple times how one might get the unminified
			version of a modules JavaScript. You can read
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/161" target="_blank">our answer on GitHub</a>.
		</p>

	</div>
</article>