{% comment %}
	This snippet prints the index pages content

	Usage:
		{% include showIndex.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="row">
			<div class="col-sm-8 col-md-10">
				<h2 class="content-headline">What&rsquo;s your blend?</h2>
				<p class="lead">
					Due to popular demand we&rsquo;ve released the blender. Now you can choose the elements you need and leave the ones you don&rsquo;t.
				</p>
			</div>

			<div class="col-sm-4 col-md-10">
				<div class="row">
					<div class="col-md-10 col-sm-offset-1 col-md-offset-0">
						<a class="btn btn-primary btn-block btn-soft btn-xl index-blenderbutton hidden-xs" href="blender/">Go to the Blender</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-8">
		<div class="index-blender-svg">
			<span class="sitesymbol-blender" data-grunticon-embed>The Blender</span>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-8 col-sm-offset-4">
		<p class="lead index-lead">
			This GUI is an HTML framework designed for multi-brand, responsive, mobile first projects. It provides HTML, CSS, LESS and JavaScript to describe how
			all the core interface elements should look and behave. The GUI can also be used as a point of reference for UX and UI designers. We&rsquo;re
			continually refining and optimising the GUI, adding elements and components as the UI evolves.
		</p>
	</div>
</div>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-subline">GUI Documentation</h3>

		<div class="row">
			<div class="col-sm-10">
				These are some articles you may find helpful if you&rsquo;re about to install and use the GUI for the first time. We also have a front end developer
				starter pack you can download which also contains detailed documentation.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		{% comment %}<div class="index-block">
			<h4 class="content-subline">The Blender</h4>
			<p>
				TODO.
				<a href="getting-started/blender">More</a>
			</p>
		</div>{% endcomment %}

		<div class="index-block">
			<h4 class="content-subline">Installing the framework</h4>
			<p>
				How do you install the framework into your own project and what do you need to look out for.
				<a href="getting-started/installing">Read more</a>
			</p>
		</div>

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Support</h4>
			<p>
				TODO.
				<a href="getting-started/support">Read more</a>
			</p>
		</div>{% endcomment %}

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Accessibility</h4>
			<p>
				TODO.
				<a href="getting-started/accessibility">Read more</a>
			</p>
		</div>{% endcomment %}

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Core libraries</h4>
			<p>
				TODO.
				<a href="getting-started/core-libraries">Read more</a>
			</p>
		</div>{% endcomment %}

		<div class="index-block">
			<h4 class="content-subline">Icon system</h4>
			<p>
				The icon system we use comes with some awesome tips and tricks.
				<a href="getting-started/icon-system">Read more</a>
			</p>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-subline">Frequently asked questions</h3>

		<div class="row">
			<div class="col-sm-10">
				We try to answer as much feedback as we can however if you have a question you&rsquo;d  like us to add to this list please let us know.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<ul class="lists lists-linklist index-faq">
			<li class="index-faq-item">
				<a href="#FAQ-q1" class="js-collapsible index-faq-link">Do we have to use the GUI source code?</a>
				<div id="FAQ-q1" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						No you do not have to use the GUI source code. If you would prefer to build from scratch using wireframes and visual designs that is your
						decision. As long as your final output looks and functions in the same way.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q2" class="js-collapsible index-faq-link">What browsers does this GUI support?</a>
				<div id="FAQ-q2" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						<p>
							Our current browser support philosophy recommends one version forward and two versions back with the exception of the SOE.
						</p>
						<p>
							The GUI uses progressive enhancement therefore older browsers may render interface elements less optimally however they must still
							support the following:
						</p>
						<ul class="lists">
							<li>Enable the user to complete a task</li>
							<li>Meet standard usability guidelines</li>
							<li>
								Comply to WCAG2 AA accessibility guidelines
								<p>This position takes into consideration:</p>
								<ul class="lists">
									<li>
										Weighing up the ROI of tweaking for older browsers whose usage is declining not growing, for small enhancements which add no
										additional value to the experience or completion of a task e.g. rounded corners etc.
									</li>
									<li>Simplifying code by minimising styling with anything other than CSS</li>
									<li>Less dependancy on visual designers to provide graphic assets and support</li>
									<li>More efficient workflow when building interfaces intended for multi-brand</li>
									<li>Future proofing the quality of graphics when displayed on high definition screens</li>
								</ul>
							</li>
						</ul>
						<p>
							Interface rending concerns in older browsers can be raised to CX but ultimately the AFS Digital Brand Director will decide if the brand
							presentation is acceptable or if an alternative must be explored
						</p>
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q3" class="js-collapsible index-faq-link">Who is responsible for bug fixing and testing?</a>
				<div id="FAQ-q3" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						When you download an instance of the GUI and use it in your project you are responsible for testing and bug fixes. If you notice any bugs with the
						GUI please do <a href="https://github.com/WestpacCXTeam/GUI-source/issues/" target="_blank">let us know</a> and we&rsquo;ll fix it up.
						Even better... send in a <a href="https://github.com/WestpacCXTeam/GUI-source/" target="_blank">pull request</a>. We&rsquo;d be very grateful.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q4" class="js-collapsible index-faq-link">If we use the GUI do we still need UX and UI designers?</a>
				<div id="FAQ-q4" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes. Every project no matter how small should have a UX designer and a UI designer. This will ensure that the interaction design and interface
						designs are consistent.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q5" class="js-collapsible index-faq-link">Can I change less files, css or javascript?</a>
				<div id="FAQ-q5" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						We do not recommend changing the files. To alter or add styles in your project please use an override css file and concatenate it at the bottom.
						This way you stay upgradeable in case we fix things and create a new version of a module.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q6" class="js-collapsible index-faq-link">Can we use our own JavaScript library?</a>
				<div id="FAQ-q6" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes you can use your own JavaScript library however you are responsible for its implementation. The GUI currently comes with jQuery but we will try
						To move to vanilla JS in the future to give you even more flexibility.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q7" class="js-collapsible index-faq-link">Is the GUI accessible?</a>
				<div id="FAQ-q7" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes as of version 1.0.0. the GUI complies to AA accessibility standards. We have been through a formal accessibility review to meet this
						requirement.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q8" class="js-collapsible index-faq-link">How often will you do a release?</a>
				<div id="FAQ-q8" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Each module is effected differently by development and we will always keep every version online so you never have to upgrade if you don't have
						the resources. This ensures that when a fix is issued or an improvments is made to a module only teams that are using this module are effected.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q9" class="js-collapsible index-faq-link">Do we have to use the updated release?</a>
				<div id="FAQ-q9" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						No you do not have to use the updated release. You can always stay on your version and the blender is specifically built to cater for every version.
						However we encurrage you to asses the effort to upgrade as it may be minimal but enabling you to leverage off of the community fixes
						and testing that has already been done.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q10" class="js-collapsible index-faq-link">What frameworks are used to create in the GUI?</a>
				<div id="FAQ-q10" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						As of version 2.0.0 we have rebuilt the GUI from scratch. It is completely custom build for your environment and enables us to be more flexible in
						its development. We tried to keep the classes and naming convention as close to Bootstrap 3.x as possible.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q12" class="js-collapsible index-faq-link">Do I have to use version 2.0.0?</a>
				<div id="FAQ-q12" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						With improved versioning in the release, project who are using a version of the GUI 1.x will continue to be able to use and implement their
						corresponding version. Each project should review the GUI 2.0.0 and assess the value, effort and impact of updating their projects before
						proceeding with the upgrade.
					</div>
				</div>
			</li>
		</ul>
	</div>
</article>