{% comment %}
	This snippet prints an example from a module

	Usage:
		{% include showExample.liquid %}

	Return:
		HTML direct output

	Required:
		{{ title }}        [variable]  Title
		{{ description }}  [variable]  Description
{% endcomment %}


{% assign titleHandle = title | handleize %}

<div class="row example">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-10">
				{% if titleHandle.size > 2 %}
					<h3 class="example-headline">{{ title }}</h3>
				{% endif %}
				<p class="example-description">{{ description }}</p>
			</div>
		</div>
	</div>

	<div class="col-sm-8">
		{% include exampleBox.liquid %}
	</div>
</div>