{% comment %}
	This snippet prints the index pages content

	Usage:
		{% include showIndex.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="row">
			<div class="col-sm-8 col-md-10">
				<h2 class="content-headline">What&rsquo;s your Blend?</h2>
				<p class="lead">
					Choose the elements you need and leave the ones you don&rsquo;t.
				</p>
			</div>

			<div class="col-sm-4 col-md-10">
				<div class="row">
					<div class="col-md-10 col-sm-offset-1 col-md-offset-0">
						<a class="btn btn-primary btn-block btn-soft btn-xl index-blenderbutton hidden-xs" href="blender/">Go to the Blender</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-8">
		<div class="index-blender-svg">
			<span class="sitesymbol-blender" data-grunticon-embed>The Blender</span>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-8 col-sm-offset-4">
		<p class="lead index-lead">
			The GUI is an HTML framework designed for multi-brand, responsive, mobile first projects. It provides HTML, CSS, LESS and JavaScript to describe how
			all of the core interface elements should look and behave. The GUI can also be used as a point of reference for UX and UI designers. We&rsquo;re
			continually refining and optimising the GUI, adding elements and components as the UI evolves.
		</p>
	</div>
</div>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-subline">What’s new in version 2</h3>

		<div class="row">
			<div class="col-sm-10">
				In this release we’ve re-built the GUI from the ground up. After much deliberation and collaboration with internal tech teams we decided to move
				away from Bootstrap and create leaner, more semantic and modular code that’s tailored to our needs. Kudos to the awesome Bootstrap framework for
				getting us this far.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<ul class="lists lists-neutral">
				<li>
					We&rsquo;ve simplified the GUI navigation structure making it easier to find the elements you need. We&rsquo;ve also added more intent around the
					use of each element.
				</li>
				<li>
					We&rsquo;ve re-built all the components for better accessibility, more semantic code, built in print stylesheets and a dynamic versioning system.
				</li>
				<li>
					To minimise code we&rsquo;ve added a new feature called the Blender. Now you can choose the elements you need and leave the ones you don&rsquo;t.
					Elements are grouped into self contained modules. This allows us to version each module rather than the entire GUI making it much easier to update
					your project. You can always access earlier versions.
				</li>
				<li>
					As well as providing the HTML markup for each element in the GUI you now also get CSS, LESS and JavaScript files with your GUI download.
				</li>
				<li>
					We&rsquo;ve added some new elements and classes like tabcordions which are responsive tab sets that change into accordions when viewed on small
					devices.
				</li>
				<li>
					We&rsquo;ve been through more rounds of rigorous accessibility testing to ensure every element is AA compliant both code and visual.
				</li>
				<li>
					We&rsquo;ve removed the icon font and replaced it with an SVG solution which is more optimised, semantic and accessible.
				</li>
				<li>
					Also, to encourage collaboration the GUI is now open source.
				</li>
			</ul>

			<p>
				Thanks to everyone for your help and support, we hope you like it. Please let us know if you have any feedback.
			</p>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-subline">GUI documentation</h3>

		<div class="row">
			<div class="col-sm-10">
				Useful articles for first time GUI users, including a downloadable front end developer starter pack containing more detailed documentation.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<div class="index-block">
			<h4 class="content-subline">The Blender</h4>
			<p>
				How to use The Blender to keep your project as lean as possible while maintaining upgradability.
				<a href="getting-started/blender">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Installing the framework</h4>
			<p>
				How to install the framework into your project and what to look out for.
				<a href="getting-started/installing">Read more</a>
			</p>
		</div>

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Support</h4>
			<p>
				TODO.
				<a href="getting-started/support">Read more</a>
			</p>
		</div>{% endcomment %}

		{% comment %}<div class="index-block">
			<h4 class="content-subline">Accessibility</h4>
			<p>
				TODO.
				<a href="getting-started/accessibility">Read more</a>
			</p>
		</div>{% endcomment %}

		<div class="index-block">
			<h4 class="content-subline">Core modules</h4>
			<p>
				Certain core modules are pre-selected, each including in-built 'helpers'.
				<a href="getting-started/core-modules">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Icon system</h4>
			<p>
				The icon system comes with some awesome tips and tricks.
				<a href="getting-started/icon-system">Read more</a>
			</p>
		</div>

		<div class="index-block">
			<h4 class="content-subline">Collaboration</h4>
			<p>
				Find out how your team can help make the GUI even better.
				<a href="getting-started/collaboration">Read more</a>
			</p>
		</div>
	</div>
</article>


<article class="row content-row">
	<div class="col-sm-4">
		<h3 class="content-subline">Frequently asked questions</h3>

		<div class="row">
			<div class="col-sm-10">
				If you have any questions about getting started using the GUI, want to know the best way to approach your project utilising GEL, or want to share
				some ideas, please get in contact with the GEL team via <a href="mailto:gel@westpac.com.au">gel@westpac.com.au</a>. If you have a Slack account, join
				the conversation at <a href="https://westpac-digital.slack.com" target="_blank">https://westpac-digital.slack.com</a>.
			</div>
		</div>
	</div>

	<div class="col-sm-8 index-section">
		<ul class="lists lists-linklist index-faq">
			<li class="index-faq-item">
				<a href="#FAQ-q1" class="js-collapsible js-faq index-faq-link">Do we have to use the GUI source code?</a>
				<div id="FAQ-q1" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						No, you do not have to use the GUI source code. You can build from scratch using wireframes and visual designs if you prefer, but your
						final output must match the look and functionality of the GUI from a front end perspective.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q2" class="js-collapsible js-faq index-faq-link">Which browsers does the GUI support?</a>
				<div id="FAQ-q2" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						<p>
							Our current browser support philosophy recommends one version forward and two versions back with the exception of IE8 and up.
						</p>
						<p>
							The GUI uses progressive enhancement, therefore older browsers may not optimally render the interface elements. If using an older browser,
							you must ensure that your interface elements meet the following requirements:
						</p>
						<ul class="lists">
							<li>Enable the user to complete a task</li>
							<li>Meet standard usability guidelines</li>
							<li>
								Comply to WCAG2 AA accessibility guidelines
								<p>This philosophy is based on the following factors:</p>
								<ul class="lists">
									<li>
										The ROI of tweaking elements for older browsers (with declining usage rates) for small enhancements which do not directly enhance
										the customer experience or task completion rate e.g. rounded corners.
									</li>
									<li>Simplifying code by minimising styling with anything other than CSS</li>
									<li>Less dependency on visual designers to provide graphic assets and support</li>
									<li>More efficient workflow when building interfaces intended for multi-brand</li>
									<li>Future proofing graphic quality for high definition screens</li>
								</ul>
							</li>
						</ul>
						<p>
							Interface rendering concerns in older browsers can be raised with CX but ultimately the AFS Digital Brand Director will decide whether the brand
							presentation is acceptable or if an alternative needs to be explored.
						</p>
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q3" class="js-collapsible js-faq index-faq-link">Who is responsible for bug fixing and testing?</a>
				<div id="FAQ-q3" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						You are responsible for testing and bug fixes when you download an instance of the GUI and use it in your project. Please
						<a href="https://github.com/WestpacCXTeam/GUI-source/issues/" target="_blank">let us know</a> if you notice any bugs in the
						GUI and we&rsquo;ll fix it up.
						Even better... send in a <a href="https://github.com/WestpacCXTeam/GUI-source/" target="_blank">pull request</a>. We&rsquo;d be very grateful.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q4" class="js-collapsible js-faq index-faq-link">If we use the GUI do we still need UX and UI designers?</a>
				<div id="FAQ-q4" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes. Every project should have a UX designer and a UI designer, no matter how small. This practice will ensure that the interaction design and
						interface designs are consistent.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q5" class="js-collapsible js-faq index-faq-link">Can I change LESS files, css or JavaScript?</a>
				<div id="FAQ-q5" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						We do not recommend changing the files. To alter or add styles in your project please use an override css file and concatenate it at the bottom.
						This will ensure that you stay upgradeable in case we fix things and create a new version of a module.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q6" class="js-collapsible js-faq index-faq-link">Can we use our own JavaScript library?</a>
				<div id="FAQ-q6" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes you can use your own JavaScript library, however you are responsible for the implementation. The GUI currently comes with jQuery but we will
						try to move to vanilla JS in future to provide even more flexibility.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q7" class="js-collapsible js-faq index-faq-link">Is the GUI accessible?</a>
				<div id="FAQ-q7" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Yes as of version 1.0.0. the GUI complies to AA accessibility standards. We have been through a formal accessibility review to meet this
						requirement.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q8" class="js-collapsible js-faq index-faq-link">How are modules affected by new releases?</a>
				<div id="FAQ-q8" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						Each module is affected differently by each release. But don't worry if you don't have the resources to upgrade, as we'll always keep the
						past versions online. This ensures that when a fix is issued or an improvement is made to a module, only teams that are using that particular
						module are affected.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q9" class="js-collapsible js-faq index-faq-link">Do we have to use the updated release?</a>
				<div id="FAQ-q9" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						No, you do not have to use the updated release. The Blender is specifically built to cater for every version, meaning that you can continue to
						use your preferred version. However, we encourage you to assess the effort required to upgrade, as it may only be minimal but could enable you
						to leverage the community fixes and testing.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q10" class="js-collapsible js-faq index-faq-link">Which frameworks are used to create the GUI?</a>
				<div id="FAQ-q10" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						As of version 2.0.0 we have rebuilt the GUI from scratch. It is a complete custom build for your environment and enables us to be more flexible in
						its development. We tried to keep the classes and naming convention as close to Bootstrap 3.x as possible.
					</div>
				</div>
			</li>
			<li class="index-faq-item">
				<a href="#FAQ-q12" class="js-collapsible js-faq index-faq-link">Do I have to use version 2.0.0?</a>
				<div id="FAQ-q12" class="collapsible-body index-faq-content" aria-hidden="true" tabindex="-1">
					<div class="index-faq-content-wrapper">
						With improved versioning in the release, projects who are using a version of the GUI 1.x will continue to be able to use and implement their
						corresponding version. Each project should review the GUI 2.0.0 and assess the value, effort and impact of updating their projects before
						proceeding with the upgrade.
					</div>
				</div>
			</li>
		</ul>
	</div>
</article>
