{% comment %}
	This snippet prints the sidebar HTML

	Usage:
		{% include sidebar.liquid %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}


<aside class="sidebar js-menu">
	<div class="sidebar-wrapper js-sidebar">

		<div class="sidebar-logo js-logo">
			<a class="sidebar-logo-img symbol-logo-tablet" href="index.html" data-grunticon-embed>Logo</a>
		</div>

		<a class="navigation-link sidebar-gel sitesymbol-back-to-gel" href="/" data-grunticon-embed>Back to GEL</a>

		{% include navigation.liquid  brand = page.brand %}

		{% capture url %}/{{ page.brand }}/blender/{% endcapture %}
		<a class="navigation-link sidebar-blender hidden-xs{% if page.url == url %} is-active{% endif %}" href="blender/">The Blender</a>

	</div>
</aside>