<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-alert</p>
			<span class='iconbox-item icon icon-size-md icon-alert'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-help</p>
			<span class='iconbox-item icon icon-size-md icon-help'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-info</p>
			<span class='iconbox-item icon icon-size-md icon-info'></span>
		</div>
	</div>

</div>