<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-alert</p>
			<span class='icon icon-size-md icon-alert'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-face-happy</p>
			<span class='icon icon-size-md icon-face-happy'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-face-hmm</p>
			<span class='icon icon-size-md icon-face-hmm'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-face-sad</p>
			<span class='icon icon-size-md icon-face-sad'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-help</p>
			<span class='icon icon-size-md icon-help'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-info</p>
			<span class='icon icon-size-md icon-info'></span>
		</div>
	</div>

</div>