{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Headings
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	All HTML headings, are available. h1 through to h6 classes are also available, for when you want to match the font styling of a heading but still want your
	text to be displayed inline. The default spacing used in these headings may not be suitable in all cases. Use the margin classes to adjust spacing above and
	below headings.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<h1>Heading one style h1</h1>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>

<h2>Heading one style h2</h2>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>

<h3>Heading one style h3</h3>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>

<h4>Heading one style h4</h4>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>

<h5>Heading one style h5</h5>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>

<h6>Heading one style h6</h6>
<p>Ignore me I&rsquo;m just some text sitting under this heading to see how much margin bottom is required.</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Editorial text
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	<strong>Paragraph:</strong> The baseline body text.<br>
	<strong>Small:</strong> De-emphasise inline or blocks of text.<br>
	<strong>Strong:</strong> Emphasise a snippet of text. The default behaviour being a heavier font weight.<br>
	<strong>Emphasis:</strong> Emphasise a snippet of text. The default behaviour being italics.<br>
	<strong>Abbreviation:</strong> Explain abbreviations and acronyms by showing the expanded version on hover. Abbreviations with a title attribute have a light
	dotted bottom border and a help cursor on hover, providing additional context on hover.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<h6>Paragraph</h6>
<p>
	I&rsquo;m a basic paragraph. I provide my own margin bottom to space paragraphs so you don&rsquo;t need to use paragraph returns to add space thats just bad typography.
	If you&rsquo;re copying and pasting text from some word processing software be sure to remove unnescessary formating.<br>

	When you place <a href="#">a link</a> inside a paragraph of text this is what it looks like. Avoid using too many long links in your paragraphs. It can get
	difficult to read and it also starts to look like a christmas tree.
</p>

<hr>
<h6>Small</h6>
<p>
	The small element represents so-called “small print” such as caveats. <small>I&rsquo;m a caveat.</small> Don&rsquo;t confuse me with physically small text
	as this would be semantically incorrect.
</p>

<hr>
<h6>Strong</h6>
<p>
	I&rsquo;m used for emphasising a snippet of text with a heavier font-weight like this <strong>Look how strong I am</strong> and I haven&rsquo;t even used
	the b tag. Marvellous!
</p>

<hr>
<h6>Emphasis</h6>
<p>
	I&rsquo;m used for emphasising a snippet of text with italics like this <em>Look at me I&rsquo;ve been emphasised</em> and I haven&rsquo;t even used i tag.
</p>

<hr>
<h6>Abbreviation</h6>
<p>
	An abbreviation of the word attribute is <abbr>attr</abbr>. Or you can do something like this <abbr>HTML</abbr> is the best thing since sliced bread.
</p>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}