<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-download</p>
			<span class='iconbox-item icon icon-size-md icon-download'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-new-window</p>
			<span class='iconbox-item icon icon-size-md icon-new-window'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-refresh</p>
			<span class='iconbox-item icon icon-size-md icon-refresh'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-search</p>
			<span class='iconbox-item icon icon-size-md icon-search'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-upload</p>
			<span class='iconbox-item icon icon-size-md icon-upload'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-write</p>
			<span class='iconbox-item icon icon-size-md icon-write'></span>
		</div>
	</div>

</div>