<div class="row">

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-american-express</p>
			<span class='iconbox-item symbol symbol-american-express'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-logo-alt</p>
			<span class='iconbox-item symbol symbol-logo-alt'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-logo-phone</p>
			<span class='iconbox-item symbol symbol-logo-phone'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-logo-tablet</p>
			<span class='iconbox-item symbol symbol-logo-tablet'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-master-card</p>
			<span class='iconbox-item symbol symbol-master-card'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-store-apple</p>
			<span class='iconbox-item symbol symbol-store-apple'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-store-google</p>
			<span class='iconbox-item symbol symbol-store-google'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-store-windows</p>
			<span class='iconbox-item symbol symbol-store-windows'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.symbol .symbol-visa</p>
			<span class='iconbox-item symbol symbol-visa'></span>
		</div>
	</div>

</div>


<div class="row example">
	<div class="col-sm-offset-4 col-sm-8">
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
	but not:
		<code class="classes">HTML</code>
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			BIG BOM brand change. All new colours, all new look, all new GUI. Brace yourselfs.
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/157" target="_blank">#157</a>
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include exampleBox.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
	</div>
</div>