<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-book</p>
			<span class='icon icon-size-md icon-book'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-compass</p>
			<span class='icon icon-size-md icon-compass'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-cross</p>
			<span class='icon icon-size-md icon-cross'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-cube</p>
			<span class='icon icon-size-md icon-cube'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-global</p>
			<span class='icon icon-size-md icon-global'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-idea</p>
			<span class='icon icon-size-md icon-idea'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-key</p>
			<span class='icon icon-size-md icon-key'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-more</p>
			<span class='icon icon-size-md icon-more'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-umbrella</p>
			<span class='icon icon-size-md icon-umbrella'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-wallet</p>
			<span class='icon icon-size-md icon-wallet'></span>
		</div>
	</div>

</div>