[submodule "GUI-source-master"]
	path = GUI-source-master
	url = git@github.com:WestpacCXTeam/GUI-source.git
[submodule "blender"]
	path = blender
	url = https://dominikwilkowski@github.com/WestpacCXTeam/blender.git
