{% include header.liquid %}

	{% include navigation.liquid  brand = page.brand %}


	{% for category in site.data.GUI.modules %}
		<h2>{{ category[0] }}</h2>

		{% for module in category[1] %}
			{{module.name}}

			{% include showVersions.liquid  mod = module %}
			<hr>

		{% endfor %}

	{% endfor %}

{% include footer.liquid %}