<!DOCTYPE html>
<!--[if lt IE 7]>
	<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if IE 9 ]>
	<html class="ie9">
<![endif]-->
<!--[if !(IE)]><!-->
	<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>

	{% include header-code.liquid %}

</head>
<body class="js-body home">
	{% include IEwarning.liquid %}
	{% include feedback.liquid %}

	<header class="header">
		<div class="container">
			<a class="header-link" href="{% include base.liquid %}/support/what-is-gel/">First time visitor?</a>

			<div class="row header-content">
				<div class="col-sm-11">
					<h1 class="logo" itemscope itemtype="http://schema.org/Organization">
						<small class="logo-subline">Westpac Group</small>
						<span class="logo-big">
							{% include gel-logo.liquid %}
							<span class="logo-fallback">GEL</span>
						</span>
					</h1>
				</div>

				<div class="col-sm-8 col-sm-offset-1">
					<div class="content lead">{{ content }}</div>
				</div>
			</div>

		</div>
	</header>

	<main class="main">
		<div class="container">

			<nav class="nav-wrapper">
				<div class="row">

					<ul class="nav-main">
						<li class="nav-item">
							<a class="nav-link col-sm-4" href="{% include base.liquid %}/principles/">
								<div class="nav-link-content">
									<strong class="nav-main-headline">Principles</strong>
									Our guiding principles for CX/UX, visual design and front-end development.
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-4" href="{% include base.liquid %}/processes/">
								<div class="nav-link-content">
									<strong class="nav-main-headline">Processes</strong>
									Working with other teams, what skills you need and the best practice approach.
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-4" href="{% include base.liquid %}/tools/">
								<div class="nav-link-content">
									<strong class="nav-main-headline">Tools</strong>
									Axure libraries, Indesign Templates and development starter kits. It’s all there.
								</div>
							</a>
						</li>
					</ul>

					<p class="nav-roles-headline text-center">Or, find all the important stuff grouped by role:</p>
					<ul class="nav-roles">
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="{% include base.liquid %}/cx-designer/">
								<img class="img-responsive" src="{% include base.liquid %}/assets/img/avatar_ux.png" alt="CX Designer">
								<div class="text-center nav-role">CX Designer</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="{% include base.liquid %}/project-lead/">
								<img class="img-responsive" src="{% include base.liquid %}/assets/img/avatar_pm.png" alt="Project Lead">
								<div class="text-center nav-role">Project Lead</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="{% include base.liquid %}/visual-designer/">
								<img class="img-responsive" src="{% include base.liquid %}/assets/img/avatar_designer.png" alt="Visual Designer">
								<div class="text-center nav-role">Visual Designer</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="{% include base.liquid %}/frontend-dev/">
								<img class="img-responsive" src="{% include base.liquid %}/assets/img/avatar_developer.png" alt="Front-End Dev">
								<div class="text-center nav-role">Front-End Dev</div>
							</a>
						</li>
					</ul>

					<h4 class="text-center nav-roles">
						For support browse our <a href="{% include base.liquid %}/support/FAQs">FAQ’s</a> or <a href="mailto:pclancy@westpac.com.au">contact the CX delivery team</a>.
					</h4>

					<p class="nav-gui-headline text-center">Access the GUIs:</p>
					<ul class="nav-gui">
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="/GUI/Westpac">
								<span class="sitesymbol-westpaclogo">Westpac</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="/GUI/BSA">
								<span class="sitesymbol-banksalogo">Bank SA</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="/GUI/StGeorge">
								<span class="sitesymbol-stgeorgelogo">StGeorge</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link col-sm-3 col-xs-6" href="/GUI/BOM">
								<span class="sitesymbol-bomlogo">BOM</span>
							</a>
						</li>
					</ul>

				</div>
			</nav>

		</div>
	</main>


	{% include footer.liquid %}