<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-house</p>
			<span class='iconbox-item icon icon-size-md icon-house'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-people</p>
			<span class='iconbox-item icon icon-size-md icon-people'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-person</p>
			<span class='iconbox-item icon icon-size-md icon-person'></span>
		</div>
	</div>

</div>