{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Small overlays of content for housing secondary information. There are two popover options:<br><br>
	<strong>Toggle switch:</strong> Has a toggle function requiring the user to click on the original trigger to close the overlay. This allows
	multiple popovers to be open simultaneously.<br><br>
	<strong>Dismissible:</strong> Allows the user to click anywhere else on the screen to close the overlay. This allows only one popover to be open at time.
	<br><br>Logic has also been applied to ensure that the popover fits in the viewport on all devices.
</p>
<p class="example-description text-info">
	The buttons in this example are not included and will have to be added to the blend separately.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<div class="popover-wrapper">
		<button class="btn popover js-popover">
			Toggle switch popover
		</button>

		<div class="popover-popup" aria-hidden="true" tabindex="-1" aria-label="Use the ESC key to close">
			<p class="popover-popup-title">
				Toggle switch popover
			</p>
			<p class="popover-popup-body">
				The Caterpillar and Alice looked at each other for some time in silence: at last the Caterpillar took the hookah out of its mouth, and addressed her
				in a languid, sleepy voice.
			</p>
		</div>
	</div>

	<hr>

	<div class="popover-wrapper">
		<button class="btn popover popover-dismissible js-popover">
			Dismissible popover
		</button>

		<div class="popover-popup" aria-hidden="true" tabindex="-1" aria-label="Use the ESC key to close">
			<p class="popover-popup-title">
				Dismissible popover
			</p>
			<p class="popover-popup-body">
				The Caterpillar and Alice looked at each other for some time in silence: at last the Caterpillar took the hookah out of its mouth, and addressed her
				in a languid, sleepy voice.
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<div class="popover-wrapper">
		<button class="btn popover js-popover">
			YOUR BUTTON TEXT
		</button>

		<div class="popover-popup" aria-hidden="true" tabindex="-1" aria-label="Use the ESC key to close">
			<p class="popover-popup-title">
				YOUR POPOVER HEADLINE
			</p>
			<p class="popover-popup-body">
				YOUR POPOVER CONTENT
			</p>
		</div>
	</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier class:

	<ul>
		<li>
			<code class="classes">popover-dismissible</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_popovers({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	This module comes with the usual init method:

	<ul>
		<li>
			<code class="classes">GUI.popovers.init();</code>
		</li>
	</ul>
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}