<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-atm</p>
			<span class='iconbox-item icon icon-size-md icon-atm'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-calculator</p>
			<span class='iconbox-item icon icon-size-md icon-calculator'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-calendar</p>
			<span class='iconbox-item icon icon-size-md icon-calendar'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-camera</p>
			<span class='iconbox-item icon icon-size-md icon-camera'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-message</p>
			<span class='iconbox-item icon icon-size-md icon-message'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-mobile-pay</p>
			<span class='iconbox-item icon icon-size-md icon-mobile-pay'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-notification</p>
			<span class='iconbox-item icon icon-size-md icon-notification'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-paypass</p>
			<span class='iconbox-item icon icon-size-md icon-paypass'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-quick-balance</p>
			<span class='iconbox-item icon icon-size-md icon-quick-balance'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-service-bell</p>
			<span class='iconbox-item icon icon-size-md icon-service-bell'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-settings</p>
			<span class='iconbox-item icon icon-size-md icon-settings'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-shelf-menu</p>
			<span class='iconbox-item icon icon-size-md icon-shelf-menu'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-to-mobile</p>
			<span class='iconbox-item icon icon-size-md icon-to-mobile'></span>
		</div>
	</div>

</div>