<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bom-alt</p>
			<span class='iconbox-item logo logo-bom-alt'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bom-phone</p>
			<span class='iconbox-item logo logo-bom-phone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bom-tablet</p>
			<span class='iconbox-item logo logo-bom-tablet'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bsa-alt</p>
			<span class='iconbox-item logo logo-bsa-alt'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bsa-phone</p>
			<span class='iconbox-item logo logo-bsa-phone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-bsa-tablet</p>
			<span class='iconbox-item logo logo-bsa-tablet'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-stg-alt</p>
			<span class='iconbox-item logo logo-stg-alt'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-stg-phone</p>
			<span class='iconbox-item logo logo-stg-phone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-stg-tablet</p>
			<span class='iconbox-item logo logo-stg-tablet'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-wbc-alt</p>
			<span class='iconbox-item logo logo-wbc-alt'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-wbc-phone</p>
			<span class='iconbox-item logo logo-wbc-phone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.logo .logo-wbc-tablet</p>
			<span class='iconbox-item logo logo-wbc-tablet'></span>
		</div>
	</div>

</div>