<div class="row">

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bom-shield</p>
			<span class='iconbox-item logo logo-bom-shield'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bom</p>
			<span class='iconbox-item logo logo-bom'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bsa-stacked</p>
			<span class='iconbox-item logo logo-bsa-stacked'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bsa</p>
			<span class='iconbox-item logo logo-bsa'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bt-stacked</p>
			<span class='iconbox-item logo logo-bt-stacked'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-bt</p>
			<span class='iconbox-item logo logo-bt'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-stg-dragon</p>
			<span class='iconbox-item logo logo-stg-dragon'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-stg</p>
			<span class='iconbox-item logo logo-stg'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-wbc-live</p>
			<span class='iconbox-item logo logo-wbc-live'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-wbc</p>
			<span class='iconbox-item logo logo-wbc'></span>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="iconbox iconbox-symbols">
			<p class="iconbox-class">.logo .logo-wbg</p>
			<span class='iconbox-item logo logo-wbg'></span>
		</div>
	</div>

</div>


<div class="row example">
	<div class="col-sm-offset-4 col-sm-8">
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v2.0.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">SVG</code>
	but not:
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			Fanfare, Drum roll … We’ve added another brand. Yay! 👏
		</li>
		<li>
			In a cleaning-frenzy we removed duplicated logos and renamed them to more relevant names. Now all done and dusted!
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include exampleBox.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
	</div>
</div>