<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-australia</p>
			<span class='iconbox-item icon icon-size-md icon-australia'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-chat</p>
			<span class='iconbox-item icon icon-size-md icon-chat'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-clock</p>
			<span class='iconbox-item icon icon-size-md icon-clock'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-edit</p>
			<span class='iconbox-item icon icon-size-md icon-edit'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-email</p>
			<span class='iconbox-item icon icon-size-md icon-email'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-id-card</p>
			<span class='iconbox-item icon icon-size-md icon-id-card'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-padlock</p>
			<span class='iconbox-item icon icon-size-md icon-padlock'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-print</p>
			<span class='iconbox-item icon icon-size-md icon-print'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-sms</p>
			<span class='iconbox-item icon icon-size-md icon-sms'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-stopwatch</p>
			<span class='iconbox-item icon icon-size-md icon-stopwatch'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-telephone</p>
			<span class='iconbox-item icon icon-size-md icon-telephone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-tick</p>
			<span class='iconbox-item icon icon-size-md icon-tick'></span>
		</div>
	</div>

</div>