<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-android</p>
			<span class='icon icon-size-md icon-android'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-apple</p>
			<span class='icon icon-size-md icon-apple'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-desktop</p>
			<span class='icon icon-size-md icon-desktop'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-phone</p>
			<span class='icon icon-size-md icon-phone'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-tablet</p>
			<span class='icon icon-size-md icon-tablet'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-windows-new</p>
			<span class='icon icon-size-md icon-windows-new'></span>
		</div>
	</div>

</div>