<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-account</p>
			<span class='iconbox-item icon icon-size-md icon-account'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-bpay</p>
			<span class='iconbox-item icon icon-size-md icon-bpay'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-history-clock</p>
			<span class='iconbox-item icon icon-size-md icon-history-clock'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-move-from</p>
			<span class='iconbox-item icon icon-size-md icon-move-from'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-move-to</p>
			<span class='iconbox-item icon icon-size-md icon-move-to'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-transfer</p>
			<span class='iconbox-item icon icon-size-md icon-transfer'></span>
		</div>
	</div>

</div>


<div class="row example">
	<div class="col-sm-offset-4 col-sm-8">
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.1</h4>

	This version changed:
		<code class="classes">SVG</code>,
	but not:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">HTML</code>
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			All icons now display in the muted colour by default and fallback to text color in IE8.
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/198" target="_blank">#198</a>
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include exampleBox.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
	</div>
</div>