<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-account</p>
			<span class='icon icon-size-md icon-account'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-bpay</p>
			<span class='icon icon-size-md icon-bpay'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-history-clock</p>
			<span class='icon icon-size-md icon-history-clock'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-move-from</p>
			<span class='icon icon-size-md icon-move-from'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-move-to</p>
			<span class='icon icon-size-md icon-move-to'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-transfer</p>
			<span class='icon icon-size-md icon-transfer'></span>
		</div>
	</div>

</div>