{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Modal
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults. Modals should be easy to digest so the user
	can quickly get back to what they were doing.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<button class="btn btn-primary js-modal" data-modal="#myModal" aria-label="Hit enter to open modal">launch that damn thing!</button>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-header-title1" aria-describedby="modal-body1" aria-hidden="true">
	<div class="modal-header">
		<button class="modal-header-close js-modalclose icon icon-size-sm icon-cross">Close modal</button>
		<span class="modal-header-title" id="modal-header-title1">Modal title</span>
	</div>
	<div class="modal-body" id="modal-body1">
		text
		<p>Hello world! I'm the modal body</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-faint js-modalclose">Close</button>
		<button type="button" class="btn btn-hero">Save changes</button>
	</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}



{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Modal sizes
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Set the initial width of your modal depending on the amount of content you are showing.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<button class="btn btn-primary js-modal" data-modal="#myModal2" aria-label="Hit enter to open modal">launch a big one</button>

<div class="modal modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="modal-header-title2" aria-describedby="modal-body2" aria-hidden="true">
	<div class="modal-header">
		<button class="modal-header-close js-modalclose icon icon-size-sm icon-cross">Close modal</button>
		<span class="modal-header-title" id="modal-header-title2">Modal title</span>
	</div>
	<div class="modal-body" id="modal-body2">
		text
		<p>Hello world! I'm the modal body</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-faint js-modalclose">Close</button>
		<button type="button" class="btn btn-hero">Save changes</button>
	</div>
</div>


<button class="btn btn-primary js-modal" data-modal="#myModal3" aria-label="Hit enter to open modal">launch a small one</button>

<div class="modal modal-sm" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="modal-header-title3" aria-describedby="modal-body3" aria-hidden="true">
	<div class="modal-header">
		<button class="modal-header-close js-modalclose icon icon-size-sm icon-cross">Close modal</button>
		<span class="modal-header-title" id="modal-header-title3">Modal title</span>
	</div>
	<div class="modal-body" id="modal-body3">
		text
		<p>
			Hello world! I'm the modal body<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatibus incidunt sapiente aut nihil totam iusto optio ab ullam voluptate ipsa ad
			atque, tenetur libero, nostrum voluptas necessitatibus culpa blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
			repudiandae vel odit mollitia, animi voluptatibus ipsam neque nobis vero pariatur dolorem velit, inventore! Praesentium a, dignissimos consequuntur
			facilis accusantium. Eius. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nobis modi labore perspiciatis voluptas non doloremque
			blanditiis tempora ab deserunt! Ratione rem veritatis saepe, nemo distinctio pariatur sapiente fugit voluptatibus!
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore recusandae temporibus distinctio neque ipsam possimus fugit at, ducimus sed vel
			totam rerum nesciunt, iusto eveniet, aperiam optio alias unde dolores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum
			inventore, labore soluta perspiciatis asperiores modi est eos consectetur veritatis tempora iste officiis esse quo laborum facilis eum dicta. Dolores.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus cupiditate doloribus commodi sint suscipit praesentium, quae tempore ipsum,
			atque eligendi voluptatum unde repudiandae maiores delectus placeat odio? Facere, quasi, quaerat.
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-faint js-modalclose">Close</button>
		<button type="button" class="btn btn-hero">Save changes</button>
	</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}