{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Badge
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Styled element used to highlight a number. They can be used alone, with links or in buttons.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<p>
	<span class="badge">
		<span class="badge-text">95</span>
		<span class="badge-sronly">Notifications</span>
	</span>
</p>

<hr>
<a href="#url">
	Inbox
	<span class="badge">
		<span class="badge-text">42</span>
		<span class="badge-sronly">Messages</span>
	</span>
</a>

<hr>
<button type="button" class="btn btn-primary">
	Primary
	<span class="badge">
		<span class="badge-text">13</span>
		<span class="badge-sronly">Screen-reader text</span>
	</span>
</button>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}


