{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Styled element used to highlight a number. They can be used alone, with links or in buttons.
</p>
<p class="example-description text-info">
	The button in this example is not included and will have to be added to the blend separately.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	<span class="badge">
		<span class="badge-text">95</span>
		<span class="badge-sronly">Notifications</span>
	</span>

	<hr>

	<a href="{{ page.title | handleize }}/#url">
		Inbox
		<span class="badge">
			<span class="badge-text">42</span>
			<span class="badge-sronly">Messages</span>
		</span>
	</a>

	<hr>

	<button type="button" class="btn btn-primary">
		Primary
		<span class="badge">
			<span class="badge-text">13</span>
			<span class="badge-sronly">Screen-reader text</span>
		</span>
	</button>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	<span class="badge">
		<span class="badge-text">YOUR TEXT</span>
		<span class="badge-sronly">CONTEXT FOR SCREEN READERS</span>
	</span>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_labels({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}