<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-excel-file</p>
			<span class='iconbox-item icon icon-size-md icon-excel-file'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-generic-file</p>
			<span class='iconbox-item icon icon-size-md icon-generic-file'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-pdf-file</p>
			<span class='iconbox-item icon icon-size-md icon-pdf-file'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-word-file</p>
			<span class='iconbox-item icon icon-size-md icon-word-file'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-zip-file</p>
			<span class='iconbox-item icon icon-size-md icon-zip-file'></span>
		</div>
	</div>

</div>