/* Content */

.content-headline {
	font-family: @fontfamily;
	font-weight: 500;
	margin-top: 0;
	color: @color-B;
	font-size: 30px;
}

.content-subline {
	font-family: @fontfamily;
	font-weight: 300;
	margin-top: 0;
	color: @color-B;
	font-size: 24px;
}

.content-h {
	font-family: @fontfamily;
	font-weight: 300;
	margin: 0 0 24px 0;
	color: @color-B;
}