/* Example */

.example {
	margin-bottom: 60px;
	margin-top: -180px;
	padding-top: 180px;
	z-index: 5;

	.example-description {
		margin: 0 0 12px 0;
	}

	.example-box {
		background-color: #fff;
		min-height: 250px;
		padding: 24px;
		overflow: auto;
		position: relative;

		.example-box-iframe {
			width: 100%;
			height: 100%;
			border: 0 none;
			padding: 0;
			margin: 0;
			position: relative;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.example-box-iframelink {
			position: absolute;
			top: 75px;
			left: 0;
			right: 0;
			text-align: center;

			.icon {
				display: block;
				margin: 0 auto 12px auto;
			}
		}
	}

	.example-tabs-wrapper {
		font-size: 0;
		overflow: auto;
	}

	.example-tabs {
		list-style: none;
		padding: 0;
		display: table;
		width: 100%;
		margin: 12px 0 0 0;
		font-size: 14px;
	}

	.example-tab-link {
		display: block;
		padding: 12px 44px 12px 12px;
		background-color: #fff;
		margin-right: 2px;
		color: @color-Text;
		position: relative;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		transition: background 0.3s ease;

		&:focus,
		&:hover {
			text-decoration: none;
		}

		&:hover {
			background-color: @color-J;
		}

		&:after {
			content: " ";
			position: absolute;
			display: block;
			vertical-align: middle;
			border-top: 8px solid @color-Text;
			border-right: 7px solid transparent;
			border-bottom: none;
			border-left: 7px solid transparent;
			position: absolute;
			right: 18px;
			top: 42%;
			height: 8px;
			width: 14px;
		}
	}

	.example-tab {
		display: table-cell;
		padding-bottom: 2px;

		&.example-tab-ltml,
		&.example-tab-css,
		&.example-tab-less,
		&.example-tab-js {
			display: none;

			@media (min-width: @screen-sm) {
				display: table-cell;
			}
		}

		&:last-child {
			.example-tab-link {
				margin-right: 0;
			}
		}

		&.is-active {
			padding-bottom: 0;

			.example-tab-link {
				padding-bottom: 14px;
				background-color: #fff;
			}
		}
	}

	.example-tabcontent {
		overflow: auto;
		font-size: 14px;

		.js & {
			max-height: 0;
		}

		&.is-open {
			max-height: 450px;
		}
	}

	.example-tabcontent-wrapper {
		padding: 0 12px;
		background-color: #fff;
	}

	.example-tabcontent-content {
		padding: 1em;
		background-color: #fff;

		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child,
		h6:first-child {
			margin-top: 0;
		}
	}

	.whatsnew-headline {
		border-top: 1px solid @color-Border;
		margin-top: 18px;
		padding-top: 18px;

		&:first-child {
			border: 0 none;
			margin-top: 0;
			padding-top: 0;
		}
	}
}

.classes {
	padding: 2px 2px;
	background-color: #fff;
	border: 1px solid @color-Border;
	line-height: 2;
	font-size: 12px;
	white-space: nowrap;
	border-radius: 2px;
	color: @color-Muted;
}

hr {
	border: 0 none;
	border-top: 1px solid #d2d5d8;
	margin: 24px 0;
}