/* Footer */


.footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: -65px;
	z-index: 70;
	transition: bottom 0.4s;
	border-top: 1px solid @color-Border;
	background-color: #fff;
	overflow: hidden;

	@media (min-width: @screen-md-lg) {
		padding-left: 240px;
	}

	.has-scrolledContentFooter & {
		bottom: 0;
	}

	.footer-button {
		float: right;
		padding: 13px 12px;
		font-size: 16px;

		@media (min-width: @screen-sm) {
			padding-right: 25px;
		}
	}
}

.footer-social {
	padding: 7px 21px 8px 12px;
	display: inline-block;
	vertical-align: middle;

	@media (min-width: @screen-sm) {
		padding-left: 24px;
	}

	@media (min-width: @screen-md-lg) {
		padding-left: 36px;
	}

	.footer-social-text {
		margin-right: 21px;
		vertical-align: middle;
	}

	.footer-social-item {
		display: inline-block;
		text-indent: -99999em;
		overflow: hidden;
		height: 32px;
		width: 32px;
		vertical-align: middle;
		margin-right: 12px;
		background-position: center;
		vertical-align: middle;

		svg {
			display: block;
		}

		.icons-background {
			fill: @color-Muted;
			transition: fill 0.3s ease;
		}

		&:hover {
			.icons-background {
				fill: @color-G-70;
			}
		}
	}
}