// .iframedemo-ani,
// .iframedemo-wrapper {
// 	position: relative;
// }

.iframedemo-btn {
	position: absolute;
	z-index: 10;
	right: 6px;
	top: 6px;
}

// .iframedemo {
// 	position: relative;
// 	background-color: #000;

// 	&:focus {
// 		.outline();
// 	}

// 	.is-opening & {
// 		opacity: 0;
// 		transition: opacity 0.3s ease;
// 	}

// 	.is-open & {
// 		position: fixed;
// 		top: 0;
// 		bottom: 0;
// 		left: 0;
// 		right: 0;
// 		z-index: 100;
// 		opacity: 1;
// 		padding: 0 12px;

// 		@media (min-width: @screen-sm) {
// 			padding: 0 42px;
// 		}
// 	}
// }

// .has-demo {
// 	overflow: hidden
// }

// .iframedemo-ani {
// 	position: fixed;
// 	z-index: 99;
// 	background-color: #fff;
// }