.iframedemo-ani,
.iframedemo-wrapper {
	position: relative;
}

.iframedemo-btn {
	position: absolute;
	z-index: 10;
	right: 6px;
	top: 0;

	.iframedemo-btn-close {
		display: none;

		.is-open & {
			display: block;
		}
	}

	.iframedemo-btn-open {
		display: block;

		.is-open & {
			display: none;
		}
	}
}

.iframedemo {
	position: relative;
	background-color: @color-Background;

	&:focus {
		.outline();
	}

	.is-opening & {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.is-open & {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		opacity: 1;
		padding: 0 12px;

		@media (min-width: @screen-md) {
			padding: 0 48px;
		}
	}
}

.has-demo {
	overflow: hidden
}

.iframedemo-ani {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #fff;
	transition: transform 0.3s ease, clip 0.3s ease;

	&.is-opening {
		transform: translateX(0) translateY(0) !important;
		clip: rect(0, 100vw, 100vh, 0) !important;
	}
}