/* Modules */

.modules {
	&.has-border {
		padding-top: 12px;
		margin-bottom: 60px;

		&.has-id {
			padding-top: 192px;
		}

		&:after {
			content: '';
			position: absolute;
			height: 1px;
			left: 0;
			right: 0;
			background-color: @color-Border;
			top: 180px;
		}

		@media (min-width: @screen-sm) {
			margin-bottom: 90px;
		}
	}

	&.has-id {
		position: relative;
		padding-top: 180px;
		margin-top: -180px;
	}

	.module {
		display: none;
		margin-top: 0;

		@media (min-width: @screen-sm) {
			margin-top: 60px;
		}

		&.is-visible {
			display: block;
		}
	}

	.module-version-string {
		font-size: 10px;
		color: @color-Border;
		float: right;
		margin-bottom: 6px;
	}

	.module-version {
		.module-version-select {
			margin: 0 6px;
		}
	}
}