/* Modules */

.modules {
	&.has-border {
		border-top: 1px solid @color-Border;
		padding-top: 12px;
		margin-bottom: 60px;

		@media (min-width: @screen-sm) {
			margin-bottom: 90px;
		}
	}

	.module {
		display: none;
		margin-top: 0;

		@media (min-width: @screen-sm) {
			margin-top: 60px;
		}

		&.is-visible {
			display: block;
		}
	}

	.module-version-string {
		font-size: 10px;
		color: @color-Border;
		float: right;
		margin-bottom: 6px;
	}

	.module-version {
		.module-version-select {
			margin: 0 6px;
		}
	}
}