.body {
	background-color: #cfd8dc !important;
}

.top,
.bottom {
	background-color: #f3f5f6;
}

.header {
	background-color: #c80038;
	color: #fff;
}

.content {
	background-color: #fff;
}

.footer {
	background-color: #263238;
	color: #fff;
}