<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-credit-card</p>
			<span class='iconbox-item icon icon-size-md icon-credit-card'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-dollar</p>
			<span class='iconbox-item icon icon-size-md icon-dollar'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-growth</p>
			<span class='iconbox-item icon icon-size-md icon-growth'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-limit</p>
			<span class='iconbox-item icon icon-size-md icon-limit'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-money-in</p>
			<span class='iconbox-item icon icon-size-md icon-money-in'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-money-out</p>
			<span class='iconbox-item icon icon-size-md icon-money-out'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-percent</p>
			<span class='iconbox-item icon icon-size-md icon-percent'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-save</p>
			<span class='iconbox-item icon icon-size-md icon-save'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-super</p>
			<span class='iconbox-item icon icon-size-md icon-super'></span>
		</div>
	</div>


	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-switch</p>
			<span class='iconbox-item icon icon-size-md icon-switch'></span>
		</div>
	</div>
</div>


<div class="row example">
	<div class="col-sm-offset-4 col-sm-8">
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.1</h4>

	This version changed:
		<code class="classes">SVG</code>,
	but not:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">HTML</code>
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			All icons now display in the muted colour by default and fallback to text color in IE8.
			<a href="https://github.com/WestpacCXTeam/GUI-source/issues/198" target="_blank">#198</a>
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include exampleBox.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
	</div>
</div>