<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-accessibility</p>
			<span class='iconbox-item icon icon-size-md icon-accessibility'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-car</p>
			<span class='iconbox-item icon icon-size-md icon-car'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-geolocation</p>
			<span class='iconbox-item icon icon-size-md icon-geolocation'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-map-pin</p>
			<span class='iconbox-item icon icon-size-md icon-map-pin'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-map</p>
			<span class='iconbox-item icon icon-size-md icon-map'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-transport</p>
			<span class='iconbox-item icon icon-size-md icon-transport'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-walk</p>
			<span class='iconbox-item icon icon-size-md icon-walk'></span>
		</div>
	</div>

</div>