{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Top margins
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use these classes to add vertical spacing above elements based on the layout system. To maintain a visual rhythm and consistency in the UI we have a
	set of classes that use multiples of 6 when applying vertical spacing between elements. The lead visual designer will stipulate which margin to use.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v1.0.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>
	but not:
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			We know all people (and projects for that matter) come in all forms and variation. We love the diversity and the new insights that this brings with it.
			Unfortunately the responsive margins were not diverse at all only giving you seven options for spacing. We expanded it’s mind in a flower-power filled
			group team-building exercise and now you have all kinds of margins. ALL KINDS!
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/201" target="_blank">#201</a>)
		</li>
		<li>
			(We moved to a neat mixin for margins, removed the block statement and bang important.)
		</li>
		<li>
			Fanfare, Drum roll … We’ve added another brand. Yay! 👏
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="top-margin3-xs">top-margin3-xs (18px)</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">no-top-margin-xs</code>
		</li>
		<li>
			<code class="classes">top-margin1-xs</code>
		</li>
		<li>
			<code class="classes">top-margin2-xs</code>
		</li>
		<li>
			<code class="classes">top-margin3-xs</code>
		</li>
		<li>
			<code class="classes">top-margin4-xs</code>
		</li>
		<li>
			<code class="classes">top-margin5-xs</code>
		</li>
		<li>
			<code class="classes">top-margin6-xs</code>
		</li>
		<li>
			<code class="classes">top-margin7-xs</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_responsive-margins({{ page.brand }})</code>

	After you called the main mixin you have access to the margin mixins:
	<code class="classes">._responsive-margins-top( 1, 6px );</code> and <code class="classes">._responsive-margins-bottom( 1, 6px );</code>

	You can call the mixins with the optional important flag to make your css more specific, however by default there is no
	<code class="classes">!important</code> appended.

	<pre><code>
/*
 * @param  @el         {string}  Element name appendix, We use numbers
 * @param  @space      {margin}  Space for this margin, We use px
 * @param  @important  {sting}   Either omit or add 'important' to make margins important
 */
	</code></pre>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}





{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Bottom margins
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Use these classes to add vertical spacing below elements based on the layout system.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex2" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="bottom-margin3-xs">bottom-margin3-xs (18px)</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">no-bottom-margin-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin1-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin2-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin3-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin4-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin5-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin6-xs</code>
		</li>
		<li>
			<code class="classes">bottom-margin7-xs</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	{{ LESS }}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}