<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-dropbox</p>
			<span class='iconbox-item icon icon-size-md icon-dropbox'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-facebook</p>
			<span class='iconbox-item icon icon-size-md icon-facebook'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-google-plus</p>
			<span class='iconbox-item icon icon-size-md icon-google-plus'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-linkedin</p>
			<span class='iconbox-item icon icon-size-md icon-linkedin'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-rss</p>
			<span class='iconbox-item icon icon-size-md icon-rss'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-share</p>
			<span class='iconbox-item icon icon-size-md icon-share'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star1</p>
			<span class='iconbox-item icon icon-size-md icon-star1'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star2</p>
			<span class='iconbox-item icon icon-size-md icon-star2'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star3</p>
			<span class='iconbox-item icon icon-size-md icon-star3'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-twitter</p>
			<span class='iconbox-item icon icon-size-md icon-twitter'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-youtube</p>
			<span class='iconbox-item icon icon-size-md icon-youtube'></span>
		</div>
	</div>

</div>