<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-dropbox</p>
			<span class='iconbox-item icon icon-size-md icon-dropbox'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-facebook</p>
			<span class='iconbox-item icon icon-size-md icon-facebook'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-github</p>
			<span class='iconbox-item icon icon-size-md icon-github'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-google-plus</p>
			<span class='iconbox-item icon icon-size-md icon-google-plus'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-linkedin</p>
			<span class='iconbox-item icon icon-size-md icon-linkedin'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-rss</p>
			<span class='iconbox-item icon icon-size-md icon-rss'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-share</p>
			<span class='iconbox-item icon icon-size-md icon-share'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star1</p>
			<span class='iconbox-item icon icon-size-md icon-star1'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star2</p>
			<span class='iconbox-item icon icon-size-md icon-star2'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-star3</p>
			<span class='iconbox-item icon icon-size-md icon-star3'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-twitter</p>
			<span class='iconbox-item icon icon-size-md icon-twitter'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-youtube</p>
			<span class='iconbox-item icon icon-size-md icon-youtube'></span>
		</div>
	</div>

</div>


<div class="row example">
	<div class="col-sm-offset-4 col-sm-8">
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font">What&rsquo;s new since v1.0.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
	but not:
		<code class="classes">HTML</code>
		<code class="classes">JS</code>

	<ul>
		<li>
			While preaching about collaboration and open source and asking developers to come to our GitHub repository to check out what we have done we were
			blissfully unaweare of the missing GitHub icon in our icon sets.
			Take this as yet another nudge towards the awesome super-powers of open source, all packed into one small icon.
			<span class='iconbox-item icon icon-size-sm icon-github'></span>
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include exampleBox.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}
	</div>
</div>