{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Smarts in the JavaScript framework to optimise page performance. For example de-bugging, throttling and debouncing.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	The javascript framework comes with three public methods:

	<ul>
		<li>
			<code class="classes">GUI.DEBUG</code> To toggle debugging information simply run <code class="classes">GUI.DEBUG = true || false</code>
		</li>
		<li>
			<code class="classes">GUI.debounce()</code>
			A common debounce method. Read <a href="https://css-tricks.com/the-difference-between-throttling-and-debouncing/" target="_blank">more here</a>
		</li>
		<li>
			<code class="classes">GUI.throttle()</code>
			A common throttle method. Read <a href="https://css-tricks.com/the-difference-between-throttling-and-debouncing/" target="_blank">more here</a>
		</li>
	</ul>
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}