<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-loading</p>
			<span class='iconbox-item icon icon-size-md icon-loading'></span>
		</div>
	</div>

</div>