{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Styled input fields with attached selects or buttons.<br>
	You can have a button or a select menu as an addon. To make it easier to use this element in a responsive site use the block option inside a col div.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v2.0.1</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>
	but not:
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			The input-addons historically caused issues by refusing to dynamically size its width. Let’s not look back to those dark times but focus on the fact that
			we’ve fixed it now.
			(<a href="https://github.com/WestpacCXTeam/GUI-source/issues/239" target="_blank">#239</a>)
		</li>
		<li>
			IE8 and IE9, although not our favorite browsers, received some love as well.
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% assign example = "ex1" %}


{% comment %} HTML TAB {% endcomment %}
{% capture HTML %}
<div class="input-addon">
	<label class="input-addon-label">
		<span class="input-addon-text">SCREEN READER CONTEXT</span>
		<input type="text" class="input-addon-input" placeholder="YOUR PLACEHOLDER">
	</label>
	<button type="submit" class="input-addon-btn">YOUR BUTTON TEXT</button>
</div>


<div class="input-addon">
	<label class="input-addon-select-wrapper">
		<span class="input-addon-text">SCREEN READER CONTEXT</span>
		<select class="input-addon-select">
			<option>Please select</option>
			<option>YOUR OPTION</option>
			<option>YOUR OPTION</option>
			<option>YOUR OPTION</option>
		</select>
	</label>

	<label class="input-addon-label">
		<span class="input-addon-text">SCREEN READER CONTEXT</span>
		<input type="text" class="input-addon-input" placeholder="YOUR PLACEHOLDER">
	</label>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">input-addon-faint</code>
		</li>
		<li>
			<code class="classes">input-addon-flip</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_input-addons({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid  controls = false %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}