<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-business-person</p>
			<span class='iconbox-item icon icon-size-md icon-business-person'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-eftpos</p>
			<span class='iconbox-item icon icon-size-md icon-eftpos'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-office</p>
			<span class='iconbox-item icon icon-size-md icon-office'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-shop</p>
			<span class='iconbox-item icon icon-size-md icon-shop'></span>
		</div>
	</div>

</div>