{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Video
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Allows browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly
	scale on any device.
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="responsive-embeds responsive-embeds-16by9">
	<iframe class="responsive-embeds-item" src="//www.youtube.com/embed/2YG8ybByVF8"></iframe>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
<div class="responsive-embeds responsive-embeds-16by9">
	<iframe class="responsive-embeds-item" src="http://LINK-TO-YOUTUBE"></iframe>
</div>
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	Modifier classes:

	<ul>
		<li>
			<code class="classes">responsive-embeds-16by9</code>
		</li>
		<li>
			<code class="classes">responsive-embeds-4by3</code>
		</li>
		<li>
			<code class="classes">responsive-embeds-185by1</code>
		</li>
		<li>
			<code class="classes">responsive-embeds-235by1</code>
		</li>
	</ul>
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	The main mixin is called: <code class="classes">_responsive-embeds({{ page.brand }})</code>
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}