{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	Video
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	Allows browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly
	scale on any device.
{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<h6>16 x 9</h6>

		<div class="responsive-embeds responsive-embeds-16by9">
			<iframe class="responsive-embeds-item" src="//www.youtube.com/embed/vD0vHZxAmso"></iframe>
		</div>


		<h6>4 x 3</h6>

		<div class="responsive-embeds responsive-embeds-4by3">
			<iframe class="responsive-embeds-item" src="//www.youtube.com/embed/vD0vHZxAms1"></iframe>
		</div>


		<h6>185 x 1</h6>

		<div class="responsive-embeds responsive-embeds-185by1">
			<iframe class="responsive-embeds-item" src="//www.youtube.com/embed/vD0vHZxAms2"></iframe>
		</div>


		<h6>235 x 1</h6>

		<div class="responsive-embeds responsive-embeds-235by1">
			<iframe class="responsive-embeds-item" src="//www.youtube.com/embed/vD0vHZxAms3"></iframe>
		</div>

	</div>
</div>
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
	{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}