{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
	EXAMPLE FOR THIS MODULE WITH THE VISUAL EXAMPLE AND THE CODE TABS
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}

{% comment %} TITLE {% endcomment %}
{% capture title %}
	FILL-ME
{% endcapture %}


{% comment %} DESCRIPTION {% endcomment %}
{% capture description %}
	FILL-ME
{% endcapture %}


{% comment %} WHAT'S NEW TAB FOR CHANGES COMPARED TO THE LAST VERSION {% endcomment %}
{% capture whatsnew %}
	<h4 class="body-font whatsnew-headline">What&rsquo;s new since v5.6.0</h4>

	This version changed:
		<code class="classes">CSS/LESS</code>,
		<code class="classes">HTML</code>,
		<code class="classes">JS</code>

	<ul class="lists">
		<li>
			Cumque labore sit consequatur quia. Doloremque beatae at, corporis, reprehenderit.
		</li>
		<li>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore sit consequatur quia. Doloremque beatae at, corporis, reprehenderit.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque beatae at, corporis, reprehenderit. Lorem ipsum dolor sit amet, consectetur
			adipisicing elit. Maxime quaerat, eveniet facere amet ab repellat mollitia, fuga similique tempora numquam aspernatur praesentium assumenda sint
			impedit adipisci. Aut nemo, nulla deserunt!
		</li>
	</ul>
{{ whatsnew }}{% endcapture %}


{% comment %} EXAMPLE HTML CODE IN THE BOX {% endcomment %}
{% capture example %}
	FILL-ME
{% endcapture %}


{% comment %} HTML TAB, THIS WILL ALMOST ALWAYS BE THE SAME AS {{ example }} {% endcomment %}
{% capture HTML %}
{{ example }}
{% endcapture %}


{% comment %} CSS TAB {% endcomment %}
{% capture CSS %}
	FILL-ME
{% endcapture %}


{% comment %} LESS TAB {% endcomment %}
{% capture LESS %}
	FILL-ME
{% endcapture %}


{% comment %} JS TAB {% endcomment %}
{% capture JS %}
	FILL-ME
{% endcapture %}


{% include showExample.liquid %}
{% comment %}
	--------------------------------------------------------------------------------------------------------------------------------------------------------------
{% endcomment %}