<div class="row">

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-add-a</p>
			<span class='icon icon-size-md icon-add-a'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-add-b</p>
			<span class='icon icon-size-md icon-add-b'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-backspace</p>
			<span class='icon icon-size-md icon-backspace'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-close</p>
			<span class='icon icon-size-md icon-close'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-delete</p>
			<span class='icon icon-size-md icon-delete'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-filter</p>
			<span class='icon icon-size-md icon-filter'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-pause</p>
			<span class='icon icon-size-md icon-pause'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-play</p>
			<span class='icon icon-size-md icon-play'></span>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="iconbox">
			<p class="iconbox-class">.icon-remove</p>
			<span class='icon icon-size-md icon-remove'></span>
		</div>
	</div>

</div>